<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Rick Hutcheson</string>
	<key>Builder Version</key>
	<string>13606.1.17.2.2</string>
	<key>CFBundleDisplayName</key>
	<string>PruneBranches</string>
	<key>CFBundleIdentifier</key>
	<string>com.oddlyaccurate.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>prune-branches</string>
				<key>Identifier</key>
				<string>pruneBranches</string>
				<key>Title</key>
				<string>Prune Closed / Merged Branches</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>Commands.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>Commands.js</string>
			</array>
		</dict>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.oddlyaccurate.com</string>
</dict>
</plist>
